
:root {
    --txtDark03: #444;
    --txtDark02: #555;
    --txtDark04: #333;
    --txtGrean03:rgb(251, 94, 57);
    --txtGrean04:rgb(243, 86, 51);
    --txtBlue: #1c5787;
    /* --txtGrean03: #50d8af; */
    /* --txtGrean04: #51d8af; */
    /* --txtBlue: #0c2e8a;  */
    --borderLeft: #e9e9e9;
    --bgWhite: #fff;
}
  
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #50d8af;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #50d8af;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0c2e8a;
  color: #fff;
}

.about-btn {
    padding: 8px 30px 9px 30px;
    color: var(--txtBlue);
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--txtBlue);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/*--------------------------------------------------------------
  # Section Header Start
--------------------------------------------------------------*/
.section-header {
    margin-bottom: 3rem;
}

.section-header h2 {
    font-size: 32px;
    color: var(--txtBlue);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--txtGrean03);
    bottom: 0;
    left: 0;
}

.section-header p {
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .section-header h2 {
        font-size: 28px;
	}
}

@media (max-width: 768px) {
    .section-header h2 {
        font-size: 20px;
    }
}


/*--------------------------------------------------------------
  # Section Header End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #555;
}

#topbar .contact-info a:hover {
  color: #50d8af;
}

#topbar .contact-info i {
  color: #50d8af;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #50d8af;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
  # Header Bar Start
  --------------------------------------------------------------*/
#header {
    padding: 20px 0;
    height: 84px;
    transition: all 0.5s;
    z-index: 997;
    background: var(--bgWhite);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#header #logo h1 a {
    color: var(--txtBlue);
    line-height: 1;
    display: inline-block;
}

#header #logo h1 a span {
    color: var(--txtGrean03);
}

#header #logo img {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    #header {
        padding: 20px 0;
        height: 74px;
    }

    #header #logo h1 {
        font-size: 34px;
    }

    #header #logo img {
        max-height: 40px;
    }
}

/*--------------------------------------------------------------
  # Header Bar END
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Nav Bar Start
--------------------------------------------------------------*/
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
}

@media (max-width: 990px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: var(--txtDark02);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
}

.nav-menu li:hover>a,
.nav-menu .menu-active>a {
    color: var(--txtGrean03);
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: var(--bgWhite);
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: var(--txtDark04);
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.nav-menu ul li:hover>a {
    color: var(--txtGrean03);
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: var(--txtDark02);
}

@media (max-width: 990px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: var(--txtGrean04);
    left: 100%;
    width: 100%;
    overflow-y: auto;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: var(--bgWhite);
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: var(--bgWhite);
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: var(--bgWhite);
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: var(--txtGrean03);
}

#mobile-nav ul .menu-item-active {
    color: var(--txtGrean03);
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: var(--bgWhite);
}

/*--------------------------------------------------------------
  # Nav Bar End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 75vh;
  position: relative;
  background: url("../img/intro-carousel/1.jpg") no-repeat;
  background-size: cover;
  padding: 0;
}

#intro .intro-content {
	max-width: 900px;
	margin: 0 auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}



#intro .intro-content h2 {
  color: #0c2e8a;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 700;
}

#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  #intro .intro-content h2 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 24px;
  }
}

#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
  border-radius: 30px;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#intro .intro-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
  border-radius: 30px;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}



/*--------------------------------------------------------------
  # About Bar Start
--------------------------------------------------------------*/
.about {
    background-color:rgba(65, 62, 102, 0.03) !important;
}

.about .container {
    position: relative;
    z-index: 10;
}

.about .content {
    padding: 30px 30px 30px 0;
}

.about .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.about .content p {
    margin-bottom: 30px;
    line-height: 2rem;
}

.about .content .about-btn {
    padding: 8px 30px 9px 30px;
    color: var(--txtBlue);
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--txtBlue);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.about .content .about-btn i {
    font-size: 16px;
    padding-left: 5px;
}

.about .content .about-btn:hover {
    background: var(--txtBlue);
    color: var(--bgWhite);
}

.about .icon-boxes .icon-box {
    /* margin-top: 30px; */
}

.about .icon-boxes .icon-box i {
    font-size: 40px;
    color: var(--txtGrean03);
    opacity: 0.3;
    margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--txtBlue);
}

.about .icon-boxes .icon-box p {
    font-size: 15px;
    color: var(--txtDark02);
    font-style: italic;
}

@media (max-width: 1200px) {
    .about .content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }
}

/*--------------------------------------------------------------
  # About Bar End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # News Bar Start
--------------------------------------------------------------*/

#investision .testimonial-item {
    box-sizing: content-box;
    margin: 30px 15px;
    text-align: center;
    min-height: 370px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}


#investision .testimonial-item .testimonial-img {
    width: 100%;
	height: 180px;
	object-fit: cover;
    border-radius: 4px;
}

#investision .testimonial-item p {
    font-style: italic;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
}

#investision .owl-nav,
#investision .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#investision .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#investision .owl-dot.active {
    background-color: #50d8af;
}

/*--------------------------------------------------------------
  # Contact Bar Start
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
}

.contact .info-box i {
    font-size: 32px;
    color: var(--txtGrean04);
    border-radius: 50%;
    padding: 8px;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinit;
    animation: animate-loading 1s linear infinit;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--txtGrean04);
}

.contact .php-email-form input {
    padding: 20px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: var(--txtGrean04);
    border: 1px solid var(--txtGrean04);
    border: 0;
    padding: 10px 24px;
    color: var(--bgWhite);
    transition: 0.4s;
    border-radius: 4px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
    background: var(--bgWhite);
    color: var(--txtGrean04);
    border: 1px solid var(--txtGrean04);
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

/*--------------------------------------------------------------
  # Contact Bar End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  # Footer Bar Start
--------------------------------------------------------------*/
#footer {
    background: #f2f5f8;
    padding: 0 0 30px 0;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: var(--txtDark02);
}

#footer .credits a {
    color: #0c2e8a;
}

/*--------------------------------------------------------------
  # Footer Bar End
--------------------------------------------------------------*/